@import "../themes/_mixin.scss";
@import "../themes/_variables.scss";
@import "../common/_base.scss";
@import "../layouts/_footer.scss";
@import "../layouts/_header.scss";



.carousel {
  position: relative;
  z-index: 1;

  .owl-carousel {
    // width: 100vw;
    .owl-stage {
      display: flex;
    }

    .owl-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.5s;
      .owl-dot {
        &:focus {
          outline: none;
        }
        &.active {
          span {
            width: 30px;
            background-color: $c3;
          }
        }
        &:hover {
          span {
            width: 30px;
            background-color: $c3;
          }
        }
      }
    }
    .owl-item {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .item {
      .item-img {
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba($c1, $alpha: 0.5);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    .item1 {
      .item-img {
        background-image: url('../../img/banner1.jpg');
        background-size: cover;
        min-height: calc(100vh - 40px) ;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .item2 {
      .item-img {
        background-image: url('../../img/banner2.jpg');
        background-size: cover;
        min-height: calc(100vh - 40px) ;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .item3 {
      .item-img {
        background-image: url('../../img/banner3.jpg');
        background-size: cover;
        min-height: calc(100vh - 40px) ;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .item4 {
      .item-img {
        background-image: url('../../img/banner4.jpg');
        background-size: cover;
        min-height: calc(100vh - 40px) ;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .item-text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;

      @media screen and (max-width: 991px) {
        top:25%;
      }

      .item-container {
        width: 700px;
        height: 100%;
        margin: 16% 12%;

        @media screen and (max-width: 767px) {
          margin: 16% 5%;
          width: 100%;
        }

        h4 {
          @include text-style($fs-10, $fw-4, $c2);

          @media screen and (max-width: 991px) {
              font-size: $fs-9;
          }
        }
        span {
          @include text-style($fs-3, $fw-3, $c2);
          margin-bottom: 4rem;
          display: block;
        }

        .btn-readMore {
          @include btn-primary($fs-2, $fw-2, 10px, $c2, $c3, $c2);
          text-transform: capitalize;
        }

        .btn-contactUs {
          @include btn-primary($fs-2, $fw-2, 10px, transparent, $c2, $c2);
          text-transform: capitalize;
          transition: all 0.5s;
          &:hover {
            background-color: $c2;
            color: $c3;
          }
        }
      }

      .item-center {
        margin: 16% 40%;

        @media screen and (max-width: 767px) {
          margin: 16% 5%;
        }
      }
    }
  }
}

.about {
  padding: 6rem 0;
  .container {
    margin: 0 auto;
    .about-content {
      margin: 0 auto;
      width: 700px;
      text-align: center;

      @media screen and (max-width: 767px){
        width: 100%;
      }

      span {
        @include text-style($fs-2, $fw-2, $c4);
        text-transform: uppercase;
      }
      h1 {
        @include text-style($fs-7, $fw-4, $c1);
      }
      p {
        @include text-style($fs-3, $fw-2, $c6);
        padding: 1rem 0;
      }
      .btn-about-readmore {
        text-decoration: none;
        @include btn-primary($fs-1, $fw-4, 0px, transparent, $c1, none);
        text-transform: capitalize;
        position: relative;
        padding: 0.2rem 0;
        transition: all 0.5s;
        &:hover {
          color: $c3;
        }
        &::after {
          content: "";
          width: 100%;
          height: 0.1rem;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $c3;
        }
      }
    }
  }
}

.feature {
  background-color: $c8;
  padding: 6rem 0;

  .feature-item {
    background-color: white;
    padding: 40px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
      background-color: $c8;
    }

    i {
      font-size: $fs-6;
      color: $c3;
    }

    h1 {
      @include text-style($fs-5, $fw-4, $c1);
      margin-top: 2rem;
      margin-bottom: 1rem;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        color: $c3;
      }
    }
    p {
      @include text-style($fs-3, $fw-2, $c6);
    }

    a {
      text-decoration: none;
      @include btn-primary($fs-1, $fw-4, 0px, transparent, $c1, none);
      text-transform: capitalize;
      position: relative;
      padding: 0.2rem 0;
      transition: all 0.5s;
      &:hover {
        color: $c3;
      }
      &::after {
        content: "";
        width: 100%;
        height: 0.1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $c3;
      }
    }
  }
}

.service {
  padding: 6rem;
  @media screen and (max-width: 767px) {
    padding: 6rem 0;
  }

  .item-left {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .item-right {
    @media screen and (max-width: 991px) {
       margin-top: 30px; 
    }
    span {
      @include text-style($fs-2, $fw-2, $c4);
      text-transform: uppercase;
    }
    h1 {
      @include text-style($fs-7, $fw-4, $c1);
    }
    p {
      @include text-style($fs-3, $fw-2, $c6);
      padding: 1rem 0;
    }

    ul {
      list-style-type: none;
      li {
        @include text-style($fs-1, $fw-4, $c1);
        padding-top: 1rem;

        i {
          @include text-style($fs-11, $fw-4, $c3);
          padding: 0.5rem 0.5rem;
          border-radius: 50%;
          background-color: $c8;
        }
      }
    }
  }
}

.stats {
  padding: 3.5rem 0;
  margin-top: 2rem;
  background-color: $c3;

  .row {
    .col-xs-6{
      width: 50%;
    }
  }
  .item {
    text-align: center;
    span {
      @include text-style($fs-9, $fw-4, $c2);
    }
    h1 {
      @include text-style($fs-4, $fw-2, $c2);
      opacity: 0.8;
    }
  }
}

.price {
  background-color: $c8;
  padding: 6rem 0;
  text-align: center;

  .price-title {
    padding-bottom: 5rem;
    span {
      @include text-style($fs-5, $fw-4, $c4);
    }
    h1 {
      @include text-style($fs-7, $fw-4, $c1);
      padding-bottom: 2rem;
    }
  }

  .price-item {

    .col-xs-12 {
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-bottom: 50px;
      }
    }

    .item-price {
      background-color: white;
      border-radius: 0.5rem;
      transition: all 0.5s;
      .item-top {
        padding: 2rem;
        h5 {
          @include text-style($fs-1, $fw-4, $c2);
          background-color: $c3;
          text-transform: uppercase;
          padding: 0.8rem 1.4rem;
          display: inline-block;
          border-radius: 5px;
        }
        h2 {
          @include text-style($fs-5, $fw-4, $c1);
          padding: 1rem;
        }
        sup {
          @include text-style($fs-5, $fw-4, $c3);
        }

        h4 {
          display: inline;
          @include text-style($fs-7, $fw-4, $c3);
        }

        p {
          display: inline;
          @include text-style($fs-1, $fw-2, $c6);
        }
      }

      .item-bottom {
        padding-bottom: 4rem;
        ul {
          padding: 2rem;
          list-style-type: none;

          li {
            @include text-style($fs-2, $fw-2, $c6);
            padding: 0.5rem 0;
          }
        }
        a {
          @include btn-primary($fs-2, $fw-2, 10px, $c3, $c2, none);
          text-transform: capitalize;
          transition: all 0.5s;
          &:hover {
            background-color: $c3-200;
          }
        }
      }
    }
  }
}

.active {
  position: relative;
  z-index: 100;
  box-shadow: 0 10px 30px 0 #11111117;
  transform: scale(1.2);
  .item-top {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: $c3;
    h5 {
      color: $c3 !important;
      background-color: $c2 !important;
    }
    h2 {
      color: $c2 !important;
    }
    sup {
      color: $c2 !important;
    }

    h4 {
      color: $c2 !important;
    }

    p {
      color: $c2 !important;
    }
  }
}

.about-2 {
  padding: 6rem;

  @media screen and (max-width:767px) {
    padding: 6rem 0;
  }

  text-align: center;
  .item-text {
    span {
      @include text-style($fs-2, $fw-2, $c4);
    }
    h1 {
      @include text-style($fs-7, $fw-4, $c1);
    }
    p {
      @include text-style($fs-3, $fw-2, $c6);
    }
  }

  .item-vid {
    position: relative;
    .item-img {
      padding-top: 2rem;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    .aura-anime {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      .play-button {
        font-size: $fs-4;
        display: block;
        border-radius: 32px;
        text-align: center;
        text-decoration: none;
        span {
          i {
            color: $c3;
            background-color: $c2;
            padding: 20px 22.5px;
            border-radius: 50%;
            transition: all 0.5s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        &:hover {
          color: $c3;
        }
      }
    }
  }
}

.testimonial {
  background-color: $c8;
  padding: 4rem 0;
  padding-bottom: 8rem;

  .testimonial-text {
    text-align: center;
    padding-bottom: 3rem;
    span {
      @include text-style($fs-2, $fw-2, $c4);
    }
    h1 {
      @include text-style($fs-7, $fw-4, $c1);
    }
  }

  .owl-2 {
    .owl-dots {
      position: absolute;
      bottom: -80px;
      left: 0;
      right: 0;
      transition: all 0.5s;
      .owl-dot {
        &:focus {
          outline: none;
        }
        &.active {
          span {
            width: 30px;
            background-color: $c3;
          }
        }
        &:hover {
          span {
            width: 30px;
            background-color: $c3;
          }
        }
      }
    }
    .item {
      background-color: $c2;
      border-radius: 16px;
      padding: 40px 30px;
      blockquote {
        padding: 20px;
        padding-bottom: 0;
        q {
          @include text-style($fs-3, $fw-2, $c6);

          &::before {
            @include text-style($fs-9, $fw-5, $c3);
            font-family: 'Merriweather', serif;
          }
        }
      }

      .quote-person {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
        
        .person-img {
          width: 70px;
          height: 70px;
          img {
            width: 100%;
            
            border-radius: 50%;
          }
        }

        .person-name {
          padding-left: 20px;
          padding-top: 16px;
          h2 {
            @include text-style($fs-4, $fw-4, $c1);
          }
          p {
            @include text-style($fs-1, $fw-2, $c6);
          }
        }
      }
    }
  }
}

.register {
  text-align: center;
  padding: 6rem 0;
  .reg-text {
    h1 {
      @include text-style($fs-7, $fw-4, $c1);
    }

    p {
      @include text-style($fs-3, $fw-2, $c6);
      padding-bottom: 2rem;
    }
  }

  .reg-form {

    .row {
      margin: 0;
      width: 100%;
    }

    .form-row {
      @media screen and (max-width: 767px) {
        margin: 10px 10px;
        padding: 0;
      }
      .col-xs-12 {
        @media screen and (max-width: 767px) {
          width: 100%;
          padding: 0;
        }
      }
      .form-control {
        padding: 2rem 1rem;

       

        border-radius: 10px;
        &:focus {
          border-color: $c3;
          box-shadow: none;
        }
      }
    }
    button {
      background-color: $c3;
      font-size: $fs-2;
      border-radius: 10px;
      outline: none;
      border-color:$c3;
      transition: all 0.5s;
      @media screen and (max-width: 767px) {
        margin: 10px 10px;
        padding: 10px 0 ;
      }
      &:active, &:hover {
        background-color: $c3-200 !important;
        border-color:$c3-200 !important;
      }
    }
  }
}


@keyframes anime {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  90% {
    opacity: 0.1;
  }
  to {
    transform: scale(1.2, 1.5);
    opacity: 0;
  }
}
