// Color

$c1: black;
$c1-100:  #111111;
$c2: white;
$c3: #189a46;
$c3-200: #116e32;
$c4: #f53626;
$c5: #0d1326;
$c6: #696969;
$c6-200: #888888;
$c6-300: #999999;
$c7: #e6ebff;
$c8: #936be80d;

//Font size

$fs-1: 16px;
$fs-2: 18px;
$fs-3: 19.2px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 34px;
$fs-7: 40px;
$fs-8: 48px;
$fs-9: 50px;
$fs-10: 66px;
$fs-11: 10px;
$fs-12: 15px;
//Font weight

$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 600;
$fw-5: 700;
